<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite  name="inetBankingDemo">
  
  <listeners> 
 	 <listener class-name = "com.inetbanking.Utilities.Reporting"/>
  </listeners>
  
  <test name="testOnChrome">
  	<parameter name = "browser" value ="chrome"/>
    <classes>
   <!--    <class name="com.inetbanking.testCases.TC_LoginTest_001"/>  -->
   <!--    <class name="com.inetbanking.testCases.TC_LoginfDDD_002"/>  -->
    <!--   <class name="com.inetbanking.testCases.TC_AddCustomer_003"/> -->
      
           <class name="com.inetbanking.testCases.TC_RagisterUser_004"/>
      
    </classes>
  </test> <!-- Test --> 
  
 


</suite> <!-- Suite -->
